<h1>Log in</h1>

<%= simple_form_for :sessions, { url: sessions_path } do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <div class="form-actions">
    <%= f.button :submit, 'Log In', class: 'btn btn-primary' %>
  </div>
<% end %>
